*

!.gitignore
!environment.yml
!Generate_H-Bond_Plots.ipynb
!Generate_H-Bond_Plots.py
!Graph\ Interstrand\ Distance\ and\ Strand\ Tilt.ipynb
!LICENSE
!README.md
!find_hbonds.com
!find_hbonds_04252021_debugged.ipynb
!find_hbonds_04252021_debugged.py
!find_interstrand_dist_rad.com
!find_interstrand_dist_rad.ipynb
!find_interstrand_dist_rad.py
!macro_hbond.sh
!helical_parameters.txt
!beyond26chainsdiscont
!beyond26chainsdiscont_v05.f
!distrecord2phenix_withsidechains_planarity3
!distrecord2phenix_withsidechains_planarity3.com
!distrecord2phenix_withsidechains_planarity3.f
!helical.com
!pdb_h/*
!pdb_noh/*
!graphs/*
